.installed.cfg
.mr.developer.cfg
bin/
.cache/
develop-eggs/
distribute-0.6.10.tar.gz
downloads/*
!downloads/README
eggs/*
!eggs/README
fab_config.py
include/
lib/
parts/
paster.log
paster.pid
src/
tags
sword2_logging.conf
